@tailwind base;
@tailwind components;
@tailwind utilities;

.card-zoom {
    @apply relative flex items-center justify-center m-3 overflow-hidden shadow-xl w-60 h-60 rounded-2xl;
  }

  .card-zoom-image {
    @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover;
  }

  .card-zoom:hover .card-zoom-image {
    @apply scale-125;
  }

  .bannerTitle {
    color: #fff;
    font-weight: bold;
    font-size: 46px;
  }

  .bannerLogo {
    margin-right: 10px;
  }

  .logoImage {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 100px;
}